{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
    <h2 class="mb-4">📃 Posts</h2>

    {% for post in posts %}
        <div class="card mb-3 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    by {{ post.author.username }} • {{ post.created_at|date:"M d, Y H:i" }}
                </h6>
                <p class="card-text mt-2">{{ post.body|linebreaks }}</p>
                <a href="{% url 'myApp:like_post' post.pk %}" class="btn btn-outline-danger">
                    
                    {% if post.id in liked_ids %}
                    Unlike
                    {% else %}    
                    Like
                    {% endif %}             
                </a>
                <a href="{% url 'myApp:post_detail' post.pk %}"  class="btn btn-outline-primary">Detail</a>
            </div>
        </div>
    {% empty %}
        <p>No posts available.</p>
    {% endfor %}
</div>
{% endblock content %}
